.drum {
  border: 5px solid #404B69;
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 2rem;
}

.heading-div {
  height: 20%;
}

.set-div {
  height: 75%;
}

.footer-div {
  height: 5%;
}

.button-col{
  padding: 2%;
}
